.formView{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.formView input{
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    border: none;

}

.formView textarea{
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.datePicker input {
    width: 40%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
}

.addButton{
    padding: 10px;
    width: 195px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #1976d2;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.addButton:hover{
    background-color: #0960b5;
}

.formView h3{
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    padding: 0;
    margin-top: 0;
}