.headerBox {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.headerBox h1 {
  font-family: "Anton", sans-serif;
  font-size: 35px;
  margin: 0 auto;
  padding-top: 20px;
}
.headerBox button {
  background-color: #1976d2;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 20px;
  position: absolute;
  right: 20px;
}
.headerBox button:hover{
  background-color: #0960b5;
}

.headerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.headerDescription p{
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  margin: 0;
}
.headerDescription span{
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  margin: 0;
}