.modalForm {
    padding: 0 20px;
}

.modalFormStyle {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    animation-name: up;
    animation-duration: 1.5s;
}

@keyframes up {
    from {
        opacity: 0;
        margin-bottom: 5%;
    }
    to{
        opacity: 1;
        margin: 0;
    }
}

.modalFormStyle button {
    background-color: #1976d2;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    width: 40%;
    margin-left: 10px;
}

.modalFormStyle input{
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px 5px;
    width: 100%;
}

.modalFormStyle button:focus{
    outline: none;
}

.modalFormStyle button:hover{
    background-color: #0960b5;
}
